<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Users</title>
    <thymeleaf th:replace="fragments/head :: head"/>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <div class="row">
        <form style="visibility: hidden" id="panel_form" method="post" action="#" th:action="@{/users}"></form>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <a class="btn btn-primary" role="button"
               th:href="@{#}" th:onclick="|send_create_user()|"
               th:text="#{users.all.panel.btn.create.user}">Create</a>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form style="visibility: hidden" id="delete_user_form" method="post" action="#" th:action="@{/users}">
                <input id="user_id" type="hidden">
            </form>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{users.all.table.header.id}">ID</th>
                    <th th:text="#{users.all.table.header.login}">Login</th>
                    <th th:text="#{users.all.table.header.firstName}">First Name</th>
                    <th th:text="#{users.all.table.header.action}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td><a th:href="@{/users/view/{id}/(id=${user.id})}" th:text="${user.userLogin}"></a></td>
                    <td th:text="${user.firstName}"></td>
                    <td>
                        <a class="btn btn-primary" role="button"
                           th:href="@{#}" th:onclick="|send_delete_user('${user.id}')|"
                           th:text="#{users.all.btn.delete.user}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>
<script>
    function send_delete_user(id) {
        $('#delete_user_form').attr('action', '/users/delete/' + id).submit();
    }
    function send_create_user() {
        $('#panel_form').attr('action', '/users/new').submit();
    }
</script>
</body>
</html>