<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${user.userLogin}">User</title>
    <thymeleaf th:replace="fragments/head :: head"/>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <span th:text="|#{users.view.userInfo.user}: ${user.userLogin}|"></span>
                </div>
                <div class="card-body">
                    <p class="card-text" th:text="|#{users.view.userInfo.id}: ${user.id}|"></p>
                    <p class="card-text" th:text="|#{users.view.userInfo.firstName}: ${user.firstName}|"></p>
                    <a href="#" th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-primary" th:text="#{users.view.btn.edit.user}">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <span th:text="#{users.view.activeQuest}">Active quest</span>
                </div>
                <div class="card-body" th:if="${user.currentQuest}">
                    <p class="card-text" th:text="|#{users.view.activeQuest.id}: ${user.currentQuest.id}|"></p>
                    <p class="card-text" th:text="|#{users.view.activeQuest.title}: ${user.currentQuest.title}|"></p>
                    <a href="#" class="btn btn-primary" th:text="#{users.view.btn.show.activeQuest}">Show</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>