<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Quest</title>
    <thymeleaf th:replace="fragments/head :: head"/>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container" th:if="${questStepAnswer.questStep}" th:with="questStep=${questStepAnswer.questStep}">
    <div th:if="${T(java.lang.Boolean).FALSE.equals(checkResult)}"
         class="alert alert-danger" role="alert" th:text="#{doQuest.error.wrongAnswer}">Відповідь невірна!
    </div>
    <div class="row" th:if="${questStep.question}">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4 th:text="#{doQuest.task}">Task</h4>
            <hr/>
            <div th:if="${questStep.question.fieldDataType==T(ua.kiev.dimoon.questcreator.common.dao.jpa.entity.FieldDataType).IMAGE_URL}">
                <h5><span th:if="${questStep.question.title}" th:text="${questStep.question.title} + ': '"></span></h5>
                <img th:src="${questStep.question.value}" th:alt="${questStep.question.title}"/>
            </div>
            <div th:if="${questStep.question.fieldDataType==T(ua.kiev.dimoon.questcreator.common.dao.jpa.entity.FieldDataType).ARRAY}">
                <h5> - <span th:if="${questStep.question.title}" th:text="${questStep.question.title} + ': '"></span>
                    <span th:if="${questStep.question.value}" th:text="${questStep.question.value}"></span>
                </h5>
            </div>
        </div>
    </div>
    <div class="row" th:if="${not #lists.isEmpty(questStep.auxiliaryDatas)}">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4 th:text="#{doQuest.auxiliaryData}">Вхідні дані</h4>
            <hr/>
            <div th:each="auxField : ${questStep.auxiliaryDatas}">
                <div th:if="${auxField.fieldDataType==T(ua.kiev.dimoon.questcreator.common.dao.jpa.entity.FieldDataType).IMAGE_URL}">
                    <h5><span th:if="${auxField.title}" th:text="${auxField.title} + ': '"></span></h5>
                    <img th:src="${auxField.value}" th:alt="${auxField.title}"/>
                </div>
                <div th:if="${auxField.fieldDataType==T(ua.kiev.dimoon.questcreator.common.dao.jpa.entity.FieldDataType).ARRAY}">
                    <h5> - <span th:if="${auxField.title}" th:text="${auxField.title} + ': '"></span>
                        <span th:if="${auxField.value}" th:text="${auxField.value}"></span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Key word input START-->
    <div class="row"
         th:if="${questStep.stepType==T(ua.kiev.dimoon.questcreator.common.dao.jpa.entity.StepType).COMMON_STEP}">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="POST" class="form-horizontal" role="form" action="#" th:action="@{/doQuest}" th:object="${questStepAnswer}">
                <div class="row" th:if="${questStep.needAnswer}">
                    <div class="col-md-12">
                        <h4 th:text="#{doQuest.answer}">Відповідь</h4>
                        <hr/>
                        <div class="form-group row">
                            <label for="key_word" class="col-sm-4 col-form-label" th:text="#{doQuest.keyWord}">Кодове слово</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" th:field="*{keyWord}" id="key_word"
                                       th:placeholder="#{doQuest.keyWord}" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" th:text="#{doQuest.btn.next}"> Далі</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Key word input END-->
    <!-- Start quest button START-->
    <div class="row" th:if="${questStep.stepType==T(ua.kiev.dimoon.questcreator.common.dao.jpa.entity.StepType).START}">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <hr/>
            <form method="POST" class="form-horizontal" role="form" action="#" th:action="@{/doQuest}">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" th:text="#{doQuest.btn.start}"> Почати</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Start quest button END-->
    <!-- Finish quest button START-->
    <div class="row" th:if="${questStep.stepType==T(ua.kiev.dimoon.questcreator.common.dao.jpa.entity.StepType).END}">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <hr/>
            <form method="POST" class="form-horizontal" role="form" action="#" th:action="@{/doQuest/finish}">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" th:text="#{doQuest.btn.finish}"> Закінчити</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Finish quest button END-->
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>