<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Quest</title>
    <thymeleaf th:replace="fragments/head :: head"/>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container" th:if="${questStepAnswer.questStep}" th:with="questStep=${questStepAnswer.questStep}">
    <div th:if="${T(java.lang.Boolean).FALSE.equals(checkResult)}" class="alert alert-danger" role="alert">
        Відповідь невірна!
    </div>
    <div class="row" th:if="${questStep.question}">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4>Завдання</h4>
            <hr/>
            <h5><span th:if="${questStep.question.title}" th:text="${questStep.question.title} + ': '"></span>
                <span th:if="${questStep.question.value}" th:text="${questStep.question.value}"></span>
            </h5>
        </div>
    </div>
    <div class="row" th:if="${not #lists.isEmpty(questStep.auxiliaryDatas)}">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4>Вхідні дані</h4>
            <hr/>
            <ul>
                <li th:each="auxField : ${questStep.auxiliaryDatas}">
                    <div>
                        <h5><span th:if="${auxField.title}" th:text="${auxField.title} + ': '"></span>
                            <span th:if="${auxField.value}" th:text="${auxField.value}"></span>
                        </h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Key word input START-->
    <div class="row"
         th:if="${questStep.stepType==T(ua.kiev.dimoon.questcreator.common.dao.jpa.entity.StepType).COMMON_STEP}">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="POST" class="form-horizontal" role="form" action="#" th:action="@{/doQuest}" th:object="${questStepAnswer}">
                <div class="row" th:if="${questStep.needAnswer}">
                    <div class="col-md-12">
                        <h4>Відповідь</h4>
                        <hr/>
                        <div class="form-group row">
                            <label for="key_word" class="col-sm-4 col-form-label">Кодове слово</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" th:field="*{keyWord}" id="key_word" placeholder="Кодове слово"
                                       required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary"> Далі</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Key word input END-->
    <!-- Start quest button START-->
    <div class="row" th:if="${questStep.stepType==T(ua.kiev.dimoon.questcreator.common.dao.jpa.entity.StepType).START}">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <hr/>
            <form method="POST" class="form-horizontal" role="form" action="#" th:action="@{/doQuest}">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary"> Почати</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Start quest button END-->
    <!-- Finish quest button START-->
    <div class="row" th:if="${questStep.stepType==T(ua.kiev.dimoon.questcreator.common.dao.jpa.entity.StepType).END}">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <hr/>
            <form method="POST" class="form-horizontal" role="form" action="#" th:action="@{/doQuest/finish}">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary"> Закінчити</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Finish quest button END-->
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>